.users {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.user {
  background: rgb(var(--v-theme-surface));
  box-shadow: 0 0 10px rgb(var(--v-theme-shadow-lg));
  padding: 10px;
  transition: ease 0.2s;
  width: 100%;
  max-width: 350px;
  text-align: center;

  &:hover {
    cursor: pointer;
    scale: 1.01;
  }
}