.post-wrapper {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(var(--v-theme-surface));
  box-shadow: 0 0 10px rgb(var(--v-theme-shadow-lg));
  width: 50%;
  padding: 15px;
}

.post__title {
  text-align: center;
}

.v-divider {
  width: 80%;
  margin: 20px auto;
}