@import '@/assets/mixins.scss';

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: rgb(var(--v-theme-surface)) !important;
  box-shadow: 0 0 10px rgb(var(--v-theme-shadow-lg)) !important;
}

.app__nav {
  display: flex;
  align-items: center;
}

.app-name {
  font-weight: 700;
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 300px;
  padding: 10px 15px;
}

.header__buttons {
  border-radius: 50px;
}

.header__actions {
  display: flex;
}

.menu-list__item {
  width: 100%;
  &:hover {
    cursor: pointer;
    background: rgb(var(--v-theme-surface-hover));
  }
}

.active-link {
  color: red;
}

.drawer__item {
  display: flex;
  align-items: center;
}

.drawer__title {
  margin-left: 20px;
}
