@import '@/assets/base.css';

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  // background-color: var(--color-background-soft);
  background-color: rgb(var(--v-theme-surface));
  box-shadow: 0 0 10px 0 rgb(var(--v-theme-on-surface-variant));
  padding: 10px 15px;
}

.app-name {
  font-weight: 700;
}


