.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: rgb(var(--v-theme-surface));
  box-shadow: 0 0 10px rgb(var(--v-theme-shadow-lg));
  padding: 10px 15px;
}

.app-name {
  font-weight: 700;
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.theme-button {
  border-radius: 50px;
}
